/*
font-family: 'Source Sans Pro', sans-serif; 
background-color: #D7A23F; 
background-color: #6EFF86;
font-family: 'VT323', monospace;
*/

*{
    margin: 0px;
    padding: 0px;
    background-color: #121212;
}

.main{
    height: auto;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.chatBox{
    block-size: fit-content;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;

    overflow: auto;
    resize: none;

    width: fit-content;

    min-width: 30%;
    max-width: 100%;

    border: 1px solid #6EFF86;
    border-radius: 10px;

    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.UserBox{
    /*Very important*/
    align-self: flex-end;

    block-size: fit-content;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;

    overflow: auto;
    resize: none;

    width: fit-content;

    min-width: 30%;
    max-width: 100%;

    border: 1px solid white;
    border-radius: 10px;

    color: #6EFF86;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

#pen{
    color: aliceblue;
    position: absolute;
    /* top: 90%;
    left: 95%; */
    top: 20%;
    left: 50%;
    /* background-color: rgba(240,248,250,0.8); */
    background-color: aliceblue;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.gameCanvas{
    height: 300px;
    width: 400px;
    box-sizing: border-box;

    margin: 10px;

    display: flex;
    flex-direction: row;

    border: dashed 3px white;

    align-self: center;

    display: none;
}

.userHand{
    flex: 1;
    border-left: dashed 3px white;
}

.botHand{
    flex: 1;
}

.chatFoot{
    /* padding: 10px;
    margin: 20px; */
    box-sizing: border-box;

    background-color: transparent;
    border: 1px solid bisque;

    width: 100%;
    height: auto;

    border-radius: 5px;
    background-color: beige;

    display: flex;
    justify-content: space-between;
}

.inputBox{
    background-color: transparent;
    border: none;
}

#send{
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    color: #121212;
}

#send:hover{
    opacity: 0.6;
}

.marginDiv{
    background-color: transparent;
    height: 50px;
    padding: 30px;

    top: 0;
    position: sticky;
}